:root {
  --body-color: #bbcbca;
  --header-color: #7AC2FD;
}
/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
	overflow-x: hidden; /* Prevent scroll on narrow devices */
}
.box-pattern{
	background-image: url(../../img/pattern-2.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
body {
	padding-top: 0px;
	/*background-color: var(--body-color);*/
}
footer {
	padding: 20px 0px 2px 10px;
	background-color: var(--header-color);
	/*Worst color ever*/
}
nav{
	background-color: var(--header-color);
}
.nav-link{
	color:#666 !important;;
}
.nav-link:hover {
	border-bottom-color: #FFF;
	color: #FFF !important;
}
.nav-tabs .nav-link.active{
    color: #7AC2FD !important;
    background-color: transparent !important;
    border-color: #ddd #ddd #ddd;
}
.nav-tabs .nav-link:hover{
    background-color: transparent !important;
    color: #7AC2FD !important;
    border-color: #7AC2FD #7AC2FD #ddd;
}
.container{
    background-image: url(../../img/pattern-2.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}
.content{
	min-height: 84vh;
}
.wrapper{
	/*width: 100%;*/
}
thead{
	background: var(--header-color);
	/*border-bottom: 3px solid #aaaabb;*/
}
tr:last-child{
	border-bottom: 1px solid #DEDEDE;
}
th{
	background: #4a9aff;
}

input[type="radio"]{
	text-align: center;
}

.card{
	background-color: var(--header-color);
	border: none;
}
.card-dody {
	/*background-color: var(--container-color);*/
    background-image: url(../../img/pattern-2.png);
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
	border: none;
}

.btn-outline-customs {
    color: var(--header-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--header-color);
}

.btn-outline-customs:hover {
    color: #FFF;
    background-color: var(--header-color);
    background-image: none;
    border-color: var(--header-color);
}

.btn-outline-customs-float-right {
	float: right;
    color: var(--header-color);
    background-color: transparent;
    background-image: none;
    border-color: var(--header-color);
}

.btn-outline-customs-float-right:hover {
    color: #FFF;
    background-color: var(--header-color);
    background-image: none;
    border-color: var(--header-color);
}


.icon-bar {
    width: 100%; /* Full-width */
    background-color: #555; /* Dark-grey background */
    overflow: auto; /* Overflow due to float */
}

.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}

.active {
    background-color: #4CAF50; /* Add an active/current color */
}
